services:
  carbon-relay-ng:
    container_name: carbon-relay-ng
    tty: true
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "2003:2003"
      - "8081:8081"
    environment:
      - GRAFANA_NET_ADDR=carbon-clickhouse:2103
      - GRAFANA_NET_API_KEY=carbon-clickhouse:2103
    volumes:
      -  ${PWD}/templates/carbon-relay-ng.ini:/conf/carbon-relay-ng.ini

  carbon-clickhouse:
    image: lomik/carbon-clickhouse:latest
    volumes:
      - ${PWD}/carbon-clickhouse/carbon-clickhouse.toml:/carbon-clickhouse.toml
      - ${PWD}/clickhouse/rollup.xml:/rollup.xml
    ports:
      - '2103:2103'
    command: carbon-clickhouse -config="/carbon-clickhouse.toml"

  clickhouse:
    container_name: clickhouse
    image: public.ecr.aws/bitnami/clickhouse:23
    environment:
      - ALLOW_EMPTY_PASSWORD=yes
      - ANOTHER_VARIABLE=value
    ports:
      - '8123:8123'
      - '9000:9000'
    volumes:
      - clickhouse_data:/bitnami/clickhouse
      - ${PWD}/clickhouse/rollup.xml:/etc/clickhouse-server/conf.d/rollup.xml
      - ${PWD}/clickhouse/graphite.xml:/etc/clickhouse-server/conf.d/graphite.xml
      - ${PWD}/clickhouse/dbinit.sh:/docker-entrypoint-startdb.d/dbinit.sh
      - ${PWD}/clickhouse/schema.sql:/docker-entrypoint-startdb.d/schema.sql

volumes:
  clickhouse_data:
    driver: local
